<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="/bootstrap.css"/>
<title>Insert title here</title>
</head>
<body>

		<h1 align=center> Demonstration of Bean Scopes</h1>
	<br>
	<div align=center>Date from Request Scope:
	
		<span th:text="${requestScopeBean.getCurrDate()}"> </span>
	
	</div>
	
	<br>
	
	<div align=center>Date from Session Scope:

		<span th:text="${sessionScopeBean.getCurrDate()}"> </span>

	</div>
	
	<br>
	
	<div align=center>Date from Session Scope:
	
				<span th:text="${applicationScopeBean.getCurrDate()}"> </span>
	
	</div>
	 


</body>
</html>