<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<head>
<meta charset="UTF-8">
<title>Bank App..</title>
</head>
<body>
<h2>Update Customer Page</h2>
	<hr>
		<form method="POST" th:action="@{/saveCustomer}" action="#" 
			th:object="${customer}">
		
		<input type="hidden" th:field="*{custId}">
		
		<br>Customer Name : <input type="text" th:field="*{custName}" placeholder="Customer Name : " />
		<br>Date of Birth : <input type="date" th:field="*{dob}" placeholder="Date of Birth : " />
		<br>Email Address : <input type="text" th:field="*{email}" placeholder="Email Address : " />
		<br>is Active ? : <input type="checkbox" th:field="*{isActive}" placeholder="is Active ? : " />
		<br>Phone Name : <input type="text" th:field="*{phoneNo}" placeholder="Phone Name : " />
		<br><button type="Submit">Update Customer Details</button>
	
	</form>
	<hr>
	
	<a th:href="@{/}"> Back to Customer Listing </a>
</body>
</html>