<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
     
<head>
<link rel="stylesheet" href="login.css" th:href="@{login.css}" />
<meta charset="ISO-8859-1">
    <title>Login</title>
</head>
<body>

<div class="modal-login">

		<form action="login" method="post">
			<table>
			<tr align="center">
		   		<td><h1 class="modal-header">Welcome to carDate</h1></td>
		   	</tr>
			<tr>
		   		<td><span class="message" th:text="${optMsg} ?:_"></span></td>
		   	</tr>
			<tr align="center">
		   		<td><input class="form-control" type="text" name="username" value='' autofocus/> </td>
		   	</tr>
		   	<tr align="center">
		   		<td> <input class="form-control" type="password" name="password" />  </td>
		   	</tr>
		   	<tr align="center">
		  		<td> <input  class="btn" name="submit" type="submit" value="login" /> </td>
		  	</tr>
		   </table>
		</form>
</div>
</body>
</html>