<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

		<H1> User Management</H1>
		
		<form th:action="@{/users/save}" th:object="${Users}" method="post">

		<Input type="hidden" th:field="*{id}" required /> 
		
		<div>	<label> User Email</label> </div>
	 	<div>	<Input type="email" th:field="*{email}" required /> </div>
	
		<div>	<label> Password</label> </div>
	 	<div>	<Input type="password" th:field="*{password}" required /> </div>
	 	
	 	<div text-left>	<label> Select a Role</label> </div>
	 				<th:block th:each="roles : ${roles}" >
	 	<div>
	 		<!-- 	<input type="checkbox" th:field="*{roles}" th:text="${roles.name}" th:value="${roles.id}" />  -->
	 		
	 		
	 	
	 	</div>
				</th:block>
				
				
			<!-- 	_____________   -->
			
			
			 <div>
        <select th:field="*{roles}" multiple>
            <option th:each="roles : ${roles}"
                    th:value="${roles.id}"
                    th:text="${roles.name}">Admin
            </option>
        </select>
    </div>

  <!--  <div>
        <label>Select a ROle:</label>
        <select th:field="*{roles}" multiple>
            <option th:each="color : ${allSampleColors}"
                    th:value="${roles.id}"
                    th:text="${roles.name}">Admin
            </option>
        </select>
    </div>  --> 
			
			
			
			
			
		<!-- 	_____________   -->
			
			<button type="submit"> Save</button>
		
		</form>
		
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		
			<div class="p-2">
				<a class="h2"th:href="@{/logout}"  > Logout </a>
		</div>
		

</body>
</html>
</body>
</html>