/* animated email click for index */
.clickEmail {
    position: relative;
    animation: sendmail 2s;
}

@keyframes sendmail {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(.8);
    }

    100% {
        transform: translate(0, -3000px);
    }
}
