<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List Products</title>
<div th:replace="common :: header"></div>
</head>
<body>
	<div th:replace="common :: navbar"></div>
	<!-- 2102210 -->
	<div class="container text-center">

		<!-- was Navigation -->
		<div>
			<h1>Product List</h1>
		</div>

		<div class="p-2">
			<a class="h4" th:href="@{/products/new}">Create New Product</a>
		</div>

		<div>
			<table class="table table-bordered" id="table">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Price</th>
						<th>Category</th>
						<th>Details</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="product : ${listProducts}">
						<tr>
							<td>[[${product.id}]]</td>
							<td>[[${product.name}]]</td>
							<td>[[${product.price}]]</td>
							<td>[[${product.category.name}]]</td>
							<td>[[${product.details}]]</td>
							<td><a class="btn btn-primary btn-sm"
								th:href="@{'/products/edit/' + ${product.id}}"><span
									class="fa fa-edit"></span> </a> <a
								class="btn btn-danger btn-sm delBtn "
								th:href="@{'/products/delete/' + ${product.id}}"> <span
									class="fa fa-trash"></span>
							</a></td>
						</tr>

					</th:block>
				</tbody>
			</table>
		</div>
	</div>

	<!-- 210210 For "class="alert alert-danger" id="main"  -->
	<div class="modal fade" id="deleteModal" data-backdrop="static"
		data-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteModalLabel">Delete Record</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger" id="main"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Keep</button>
					<a class="btn btn-danger" href="" id="delRef">proceed </a>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="common :: footer"></div>
	<!-- 210210 -->

</body>

</html>