<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Bank App</title>
</head>
<body>
	<h1>Customer List</h1>

	<a th:href="@{/showNewCustomerForm}"> Add Customer </a>
	<table border="1">
		<thead>
			<tr>
				<th> <a th:href="@{'/page/' + ${currentPage} + '?sortField=custId&sortDirection=' + ${reverseSortDirection}}">Customer ID</a></th>
				<th> <a th:href="@{'/page/' + ${currentPage} + '?sortField=custName&sortDirection=' + ${reverseSortDirection}}">Name </a></th>
				<th> <a th:href="@{'/page/' + ${currentPage} + '?sortField=dob&sortDirection=' + ${reverseSortDirection}}">Date of Birth</a></th>
				<th>Email</th>
				<th>is Active ?</th>
				<th> <a th:href="@{'/page/' + ${currentPage} + '?sortField=phoneNo&sortDirection=' + ${reverseSortDirection}}">Phone No</a></th>
				<th>Positivity</th>
				<th>Actions</th>
		</thead>
		<tbody>
			<tr th:each="customer : ${listCustomers}">
				<td th:text="${customer.custId}" />
				<td th:text="${customer.custName}" />
				<td th:text="${customer.dob}" />
				<td th:text="${customer.email}" />
				<td><input type="checkbox"
					th:checked="${customer.isActive} ? 'checked'"></td>
				<td th:text="${customer.phoneNo}" />
				<td th:text="${customer.positivity}" />
				<td><a
					th:href="@{/showFormForUpdate/{custId}(custId=${customer.custId})}">
						Update </a> &nbsp;&nbsp;&nbsp; <a
					th:href="@{/deleteCustomer/{custId}(custId=${customer.custId})}">
						Delete </a></td>
			</tr>
			<tr>
				<td colspan=2><a th:href="@{'/page/1' + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}"> First </a></td>
				<td colspan=2>
					<div th:if="${currentPage > 1}">
						<a th:href="@{'/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}"> Prev </a>
					</div>
				</td>
				<td colspan=2>
					<div th:if="${currentPage < totalPages}">
						<a th:href="@{'/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}"> Next </a>
					</div>
				</td>
				<td colspan=2><a th:href="@{'/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">
						Last </a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>