<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Customer Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>  

	<div class="container my-2">
		<h1>Customer List</h1>
		<a th:href="@{/showNewCustomerForm}"
			class="btn btn-primary btn-sm mb-3"> Add Customer </a>

		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=custId&sortDir=' + ${reverseSortDir}}">Customer
							ID </a></th>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=custName&sortDir=' + ${reverseSortDir}}">
							Customer Name </a></th>
					<th>Customer DOB</th>
					<th>Customer Email</th>
					<th>Customer is Active</th>
					<th>Customer PhoneNo</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="customer : ${listCustomers}">
					<td th:text="${customer.custId}"></td>
					<td th:text="${customer.custName}"></td>
					<td th:text="${customer.dob}"></td>
					<td th:text="${customer.email}"></td>
					<td><input type="checkbox"
						th:checked="${customer.isActive} ? 'checked' "></td>
					<td th:text="${customer.phoneNo}"></td>
					<td><a
						th:href="@{/showFormForUpdate/{custId}(custId=${customer.custId})}"
						class="btn btn-primary">Update</a> <a
						th:href="@{/deleteCustomer/{custId}(custId=${customer.custId})}"
						class="btn btn-danger">Delete</a></td>

				</tr>
			</tbody>
		</table>
		<div th:if="${totalPages > 1}">
			<div class="row col-sm-10">
				<div class="col-sm-2">Total Rows: [[${totalItems}]]</div>
				<div class="col-sm-1">
					<a th:if="${currentPage > 1}"
						th:href="@{'/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
					<span th:unless="${currentPage > 1}">First</span>
				</div>
				<div class="col-sm-1">
					<a th:if="${currentPage > 1}"
						th:href="@{'/page/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Prev</a>
					<span th:unless="${currentPage > 1}">Prev</span>
				</div>
				<div class="col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}"> <a
						th:if="${currentPage != i}"
						th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;
						&nbsp;
					</span>
				</div>
				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>

				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>