<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

		<H1> User Managerment</H1>
		
		<form th:action="@{/users/save}" th:object="${Users}" method="post">

		<Input type="hidden" th:field="*{id}" required /> 
		
		<div>	<label> User Email</label> </div>
	 	<div>	<Input type="text" th:field="*{username}" required /> </div>
	
		<div>	<label> Password</label> </div>
	 	<div>	<Input type="password" th:field="*{password}" size="150" /> </div>
	 	
	 	
	 	
	 	<div text-left>	<label> Roles</label> </div>
	 				<th:block th:each="roles : ${roles}" >
	 	<div>
	 			<input type="checkbox" th:field="*{roles}" th:text="${roles.name}" th:value="${roles.id}" />
	 	
	 	</div>
				</th:block>
	
			
			<button type="submit"> Save</button>
		
		</form>

</body>
</html>
